<main>

  <h1>Title: {{ playlistTitle}}</h1>
  <h2>ID: {{id}}</h2>

  <hr>

  {{#if isEmpty}}
    <p id="no-movies">This playlist is empty</p>
  {{else}}
    {{#each movies}}
      <div class="layout-playlist-movie-block">
        <a class="movie-list--movie-name" href="../movieprofile/{{movieId}}">{{movieTitle}}</a>

        <button class="button button--remove" onclick="removeMovie(this, {{playlistId}}, {{movieId}})">Remove</button>
      </div>
    {{/each}}
  {{/if}}

  <br>

  <button class="button button--remove" onclick="deletePlaylist({{id}})">Delete this playlist</button>

</main>