<main>
  <h1>{{ title}}</h1>

  <div class="layout-movie-info">
    <div class="layout-movie-info-subtitle-box">Year:</div>
    <div id="year">{{year}}</div>
  </div>

  <div class="layout-movie-info">
    <div class="layout-movie-info-subtitle-box">Country:</div>
    <div id="country">{{country}}</div>
  </div>

  <div class="layout-movie-info">
    <div class="layout-movie-info-subtitle-box">Genre:</div>
    <div id="genre">{{genre}}</div>
  </div>

  <div class="layout-movie-info">
    <div class="layout-movie-info-subtitle-box">Director:</div>
    <div id="director">{{director}}</div>
  </div>

  <div class="layout-movie-info">
    <div class="layout-movie-info-subtitle-box">Cast:</div>
    <div class="layout-movie-info-content-box">
      <div id="cast">{{cast}}</div>
    </div>
  </div>

  <div class="layout-movie-info">
    <div class="layout-movie-info-subtitle-box">Duration:</div>
    <div id="duration">{{duration}}</div>
  </div>

  <div class="layout-movie-info">
    <div class="layout-movie-info-subtitle-box">Age restriction:</div>
    <div id="age-restriction">{{age}}+</div>
  </div>

  {{#if isSeasoned}}
    <div class="layout-movie-info">
      <div class="layout-movie-info-subtitle-box">Seasons:</div>
      <div id="seasons">{{seasons}}</div>
    </div>
  {{/if}}

  <div class="layout-movie-info">
    <div class="layout-movie-info-subtitle-box">Description:</div>
    <div class="layout-movie-info-content-box">
      <div id="description">{{description}}</div>
    </div>
  </div>

  <div class="layout-movie-add-buttons">
    <button class="button button--add" onclick="addMovieToFavorites({{movieId}})">Add to favorites</button>

    <button class="button button--add" onclick="addMovieToWatchLater({{movieId}})">Add to watch later</button>
  </div>

  <div class="layout-text-input">
    <label for="playlistId" class="text-input--subtitle">Playlist ID:</label>
    <input type="text" id="playlistId" class="text-input">
    <br>
    <div class="button button--submit" onclick="addMovieToPlaylist({{movieId}})">Add to playlist</div>
  </div>

</main>